{:paths ["src" "classes" "resources"]

 :deps
 {;; Flex - Vue 3-style reactive signals
  town.lilac/flex {:git/url "https://github.com/lilactown/flex"
                   :git/sha "f3d93a7c697dfc1c63c12e1f2a111fda8248d96a"}

  ;; Types - core classes shared by Skija
  io.github.humbleui/types {:mvn/version "0.2.0"}

  ;; LWJGL 3.4.0 with SDL3 and OpenGL
  org.lwjgl/lwjgl {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-sdl {:mvn/version "3.4.0"}
  org.lwjgl/lwjgl-opengl {:mvn/version "3.4.0"}}

 :aliases
 {;; Platform-specific Skija + LWJGL natives
  :macos-arm64
  {:extra-deps
   {io.github.humbleui/skija-macos-arm64 {:mvn/version "0.116.2" :exclusions [io.github.humbleui/types]}
    org.lwjgl/lwjgl$natives-macos-arm64 {:mvn/version "3.4.0"}
    org.lwjgl/lwjgl-sdl$natives-macos-arm64 {:mvn/version "3.4.0"}
    org.lwjgl/lwjgl-opengl$natives-macos-arm64 {:mvn/version "3.4.0"}}}

  :macos-x64
  {:extra-deps
   {io.github.humbleui/skija-macos-x64 {:mvn/version "0.116.2" :exclusions [io.github.humbleui/types]}
    org.lwjgl/lwjgl$natives-macos {:mvn/version "3.4.0"}
    org.lwjgl/lwjgl-sdl$natives-macos {:mvn/version "3.4.0"}
    org.lwjgl/lwjgl-opengl$natives-macos {:mvn/version "3.4.0"}}}

  :windows
  {:extra-deps
   {io.github.humbleui/skija-windows-x64 {:mvn/version "0.116.2" :exclusions [io.github.humbleui/types]}
    org.lwjgl/lwjgl$natives-windows {:mvn/version "3.4.0"}
    org.lwjgl/lwjgl-sdl$natives-windows {:mvn/version "3.4.0"}
    org.lwjgl/lwjgl-opengl$natives-windows {:mvn/version "3.4.0"}}}

  :linux
  {:extra-deps
   {io.github.humbleui/skija-linux-x64 {:mvn/version "0.116.2" :exclusions [io.github.humbleui/types]}
    org.lwjgl/lwjgl$natives-linux {:mvn/version "3.4.0"}
    org.lwjgl/lwjgl-sdl$natives-linux {:mvn/version "3.4.0"}
    org.lwjgl/lwjgl-opengl$natives-linux {:mvn/version "3.4.0"}}}

  :dev
  {:extra-paths ["dev"]
   :extra-deps
   {io.github.tonsky/clj-reload {:mvn/version "0.7.1"}
    nrepl/nrepl {:mvn/version "1.1.1"}
    cider/cider-nrepl {:mvn/version "0.50.2"}}}

  ;; Connect to running nREPL (doesn't load dev/ to avoid port conflict)
  :connect
  {:extra-deps {nrepl/nrepl {:mvn/version "1.1.1"}}
   :main-opts ["-m" "nrepl.cmdline" "--connect" "--port" "7888"]}

  :run
  {:main-opts ["-m" "app.core"]}

  :repl
  {:extra-deps {cider/cider-nrepl {:mvn/version "0.50.2"}}
   :main-opts ["-m" "nrepl.cmdline"
               "--middleware" "[cider.nrepl/cider-middleware]"]}}}
